## Welcome to the boot camp

#### My name is **Sunder**

#### **Coding problems** - Think  analyse and express in code 

#### **Python** as vehicle

#### https://tinyurl.com/mite-ds-notes

## https://tinyurl.com/mite-interview-prep-tips

#### Create a **Kaggle Account** - https://www.kaggle.com/learn/python

In [ ]:
aja = "Hello Ajagara"

'Hello Ajagara'

In [31]:
{
'greet': aja, 
'len_greet': len(aja) , 
'count_a' : aja.count("a")
}

{'greet': 'Hello Ajagara', 'len_greet': 13, 'count_a': 3}

In [32]:
count_a = 0
for c in aja :
    if c == 'a' :
        count_a += 1
count_a

3

In [33]:
count_a = 0
for c in aja :
    count_a += 1 if c == 'a' else 0
count_a

3

In [29]:
aja.count("a")

3

In [5]:
count_a = 0
for char in aja:
    if char == "a":
        count_a += 1
count_a

3

In [8]:
# Count the unique characters in the string - "Hello Ajagara"


haja = "Hello Ajagara"
set(haja) , len(set(haja))

({' ', 'A', 'H', 'a', 'e', 'g', 'j', 'l', 'o', 'r'}, 10)

## Get the histogram of characters of greet in a variable called **histogram_greet**

In [ ]:
seen = {}
for c in haja :
    seen[c] = True

seen , "===",  seen.keys() , "===" ,  len(.keys())

({'H': True,
  'e': True,
  'l': True,
  'o': True,
  ' ': True,
  'A': True,
  'j': True,
  'a': True,
  'g': True,
  'r': True},
 '===',
 ['H', 'e', 'l', 'o', ' ', 'A', 'j', 'a', 'g', 'r'],
 '===',
 10)

In [ ]:
seen_chars = []
for c in aja:
    if c not in seen_chars:
        seen_chars.append(c)
seen_chars, "===", len(seen_chars)
set(haja)

(['H', 'e', 'l', 'o', ' ', 'A', 'j', 'a', 'g', 'r'], '===', 10)

In [45]:
histogram_greet= {}
for c in haja :
    histogram_greet[c] = histogram_greet.get(c, 0) + 1
histogram_greet

{'H': 1,
 'e': 1,
 'l': 2,
 'o': 1,
 ' ': 1,
 'A': 1,
 'j': 1,
 'a': 3,
 'g': 1,
 'r': 1}

In [46]:
histogram_greet = {}
for c in haja :
    if c not in histogram_greet:
        histogram_greet[c] = 0
    histogram_greet[c] += 1
print(histogram_greet)

{'H': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1, 'A': 1, 'j': 1, 'a': 3, 'g': 1, 'r': 1}

## Using the  *histogram_greet* , create a **sorted_histogram_greet** , that sorts the letters by their frequencies

In [52]:
sorted(list(histogram_greet.items()), key=lambda x: x[0], reverse=False)

[(' ', 1),
 ('A', 1),
 ('H', 1),
 ('a', 3),
 ('e', 1),
 ('g', 1),
 ('j', 1),
 ('l', 2),
 ('o', 1),
 ('r', 1)]

In [61]:
num_array = [ ( e%2, e ) for e in [1, 21, 13, 4, 5] ]
(
num_array, 
sorted(num_array), 
sorted(num_array, key=lambda x: x[0], reverse=False),
sorted(num_array, key=lambda x: x[0], reverse=not False)
)

([(1, 1), (1, 21), (1, 13), (0, 4), (1, 5)],
 [(0, 4), (1, 1), (1, 5), (1, 13), (1, 21)],
 [(0, 4), (1, 1), (1, 21), (1, 13), (1, 5)],
 [(1, 1), (1, 21), (1, 13), (1, 5), (0, 4)])

In [56]:
list(histogram_greet.items())

[('H', 1),
 ('e', 1),
 ('l', 2),
 ('o', 1),
 (' ', 1),
 ('A', 1),
 ('j', 1),
 ('a', 3),
 ('g', 1),
 ('r', 1)]

In [ ]:
seen = {}
for c in haja :
    if c in seen:
        seen[c] += 1
    else:
        seen[c] = 1
#seen #, "===",  seen.keys() , "===" ,  len(seen.keys())
seen

In [ ]:
haja = "Hello Ajagara"
print(len(haja))

13

# a. Define **month_names** array with month names
# b. let **sorted_month_names**  contain alphabetically sorted month names

In [ ]:
month_names = "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec".split()
sorted_month_names = sorted(month_names, reverse=True)

def special_sorter(x) : return x[-1]
sorted_month_names_by_last_char = sorted(month_names, key=special_sorter) 
sorted_month_names_by_last_char = sorted(
    month_names, 
    key=lambda x: x[-1]
    )
 
print(f"""
{sorted_month_names=}
{sorted_month_names_by_last_char=}
""")

sorted_month_names=['Sep', 'Oct', 'Nov', 'May', 'Mar', 'Jun', 'Jul', 'Jan', 'Feb', 'Dec', 'Aug', 'Apr']
sorted_month_names_by_last_char=['Feb', 'Dec', 'Aug', 'Jul', 'Jan', 'Jun', 'Sep', 'Mar', 'Apr', 'Oct', 'Nov', 'May']

In [ ]:
# odd_months
odd_months_0 = ['Jan', 'Mar', 'May', 'Jul' ,'Sep' ,'Nov']
odd_months_1 = "Jan Mar May Jul Sep Nov".split()
odd_months_2 = []
for i in range(1,12+1,2) : odd_months_2.append(month_names[i-1])
#####
odd_months = month_names[0::2]
even_months = month_names[1::2]
#####
odd_months=[] 
even_months=
for ix, m in enumerate(month_names) :
    if ix%2 == 0 :
        odd_months.append( m)
    else:
        even_months.append(m)

print (f"""
{odd_months_0=}
{odd_months_1=}
{odd_months_2=}
{odd_months=}
""")

odd_months_0=['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']
odd_months_1=['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']
odd_months_2=['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']
odd_months=['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']

In [74]:
month_names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
# sort the month names alphabetically
#  split the array into even an odd months

sm=[]
sm.append(sorted(month_names))
sm

sorted_month_names = sorted(month_names)
# sorted_month_names

# sorted_month_names = list(set(month_names))
# sorted_month_names

odd_months = month_names[::2]
even_months = month_names[1::2]

sorted_month_names, even_months, odd_months
print( f"{sorted_month_names=}\n{even_months=}\n{odd_months=}")

sorted_month_names=['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep']
even_months=['Feb', 'Apr', 'Jun', 'Aug', 'Oct', 'Dec']
odd_months=['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']

```python
odd_months =  [ x for ix, x in enumerate(month_names) if (ix+1)%2==1]
odd_months
```

# 1. create a array of tuples  **month_tuples**  [ (1, 'Jan'), .... (12, 'Dec')]

In [128]:
# month_tuples
month_tuples = [ (ix+1, elem) for ix, elem in enumerate(month_names) ]

month_tuples_01 = list(enumerate(month_names,start=1))


month_tuples, "===" , month_tuples_01

([(1, 'Jan'),
  (2, 'Feb'),
  (3, 'Mar'),
  (4, 'Apr'),
  (5, 'May'),
  (6, 'Jun'),
  (7, 'Jul'),
  (8, 'Aug'),
  (9, 'Sep'),
  (10, 'Oct'),
  (11, 'Nov'),
  (12, 'Dec')],
 '===',
 [(1, 'Jan'),
  (2, 'Feb'),
  (3, 'Mar'),
  (4, 'Apr'),
  (5, 'May'),
  (6, 'Jun'),
  (7, 'Jul'),
  (8, 'Aug'),
  (9, 'Sep'),
  (10, 'Oct'),
  (11, 'Nov'),
  (12, 'Dec')])

# 2. sort the month_tuples by the last character of the month name in an appropriately named variable

In [ ]:
def special_sorter(x):
    return x[1][-1]  # Sort by the last character of the month name
sorted_month_tuples = sorted(month_tuples, key=lambda x: x[1][-1])
sorted_month_tuples

[(2, 'Feb'),
 (12, 'Dec'),
 (8, 'Aug'),
 (7, 'Jul'),
 (1, 'Jan'),
 (6, 'Jun'),
 (9, 'Sep'),
 (3, 'Mar'),
 (4, 'Apr'),
 (10, 'Oct'),
 (11, 'Nov'),
 (5, 'May')]

# sort the rand_numbers = [5,4,1,8,88,-6] , odd first, then even

In [134]:
# sort the rand_numbers = [5,4,1,8,88,-6] , odd first, then even 
rand_numbers = [5,4,1,8,88,-6]
sorted(rand_numbers , key= lambda x : x%2==0)

[5, 1, 4, 8, 88, -6]

# 3. Define a function that reverses an array ( try more than one method)

In [138]:
def reverse_array_1(arr): return arr[::-1]

def reverse_array_2(arr) :
    for i in range(len(arr)//2) :
        arr[i] , arr[-i-1] = arr[-i-1], arr[i]
    return arr

def reverse_array_3(arr):
    return list(reversed(arr))

test_array =  [] # [display] [1], [1,2], [1,2,3]]
( reverse_array_1(test_array) , 
 reverse_array_2(test_array) ,  
 reverse_array_3(test_array) )

([], [], [])

In [143]:
test_array = [ [], [1], [1,2], [1,2,3], list(range(100))]
rev_test_array = [ reverse_array_1(t) for t in test_array]
# rev_test_array
rev_rev_test_array = [ reverse_array_1(t) for t in rev_test_array]
rev_rev_test_array == test_array
# reverse_array_1(test_array) #, reverse_array_2(test_array) ,  reverse_array_3(test_array) ,

True

# RECAP of Day 02
- Array slice operations are elegant
- List interpolations are elegant
- Sorted key parameter allows for flexible sorts 
- Functions for encapsulation
- Test cases - normal and edge cases
- Problems - month_names, tuple_months, reverse string, flexible sort
- Assignment -  palindrome , deck of cards
- https://github.com/peterlamar/python-cp-cheatsheet

# Now to Day 3
- Assignment review, presentation and discussions

## Problems - Day 3

### For all problems

    - Write test cases to ensure correctness
    - Do more than one implementation where possible - brute force and optimized

- **Easy : Anagram Problem**  

    ```
    Given two strings s and t, 
      return True if t is an anagram of s,  False otherwise. 

    You may assume that s and t contain only lowercase alphabets.
    examples: listen and silent are anagrams

    ```

- **Medium : Longest Substring Without Repeating Characters** 
 
    ```
    Given a string s, find the length of the longest substring without repeating characters. 
    Return the length as an integer.
    ```
https://tinyurl.com/mite-sliding-window

- **Easy (Queue FIFO): Implement a Basic Queue Using 1)Array and 2)Two Stacks**

    ```
    Implement enqueue and dequeue operations.
    Design a queue using 1) array and 2)two stacks (s1, s2).
    ```

- **Medium (Stack LIFO): Next Greater Element**

    ```
    Given an array of integers, for each element, find the next greater element to its right. 
    Return an array of answers; if no greater element exists, use -1.
    ```

# 4. Define a function that checks if a string is a palindrome

In [35]:
def is_palindrome_1(arr):
    return arr == arr[::-1]

def is_palindrome_2(arr):
    for i in range(len(arr)//2):
        if arr[i] != arr[-i-1]:
            return False
    return True

def is_palindrome_3(arr):
    return all(arr[i] == arr[-i-1] for i in range(len(arr)//2))

test_cases= [ [], [1], [1,2], [1,2,1], list(range(1,100,10)), list(range(100,0,-10)), [1,2,3,2,1] ] 

palindrome_functions = [ is_palindrome_1, is_palindrome_2, is_palindrome_3]

test_results = [ 
    (fn.__name__  , fn(tc), str(tc)) 
    for tc in test_cases  
    for fn in palindrome_functions 
]
test_results

[('is_palindrome_1', True, '[]'),
 ('is_palindrome_2', True, '[]'),
 ('is_palindrome_3', True, '[]'),
 ('is_palindrome_1', True, '[1]'),
 ('is_palindrome_2', True, '[1]'),
 ('is_palindrome_3', True, '[1]'),
 ('is_palindrome_1', False, '[1, 2]'),
 ('is_palindrome_2', False, '[1, 2]'),
 ('is_palindrome_3', False, '[1, 2]'),
 ('is_palindrome_1', True, '[1, 2, 1]'),
 ('is_palindrome_2', True, '[1, 2, 1]'),
 ('is_palindrome_3', True, '[1, 2, 1]'),
 ('is_palindrome_1', False, '[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]'),
 ('is_palindrome_2', False, '[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]'),
 ('is_palindrome_3', False, '[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]'),
 ('is_palindrome_1', False, '[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]'),
 ('is_palindrome_2', False, '[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]'),
 ('is_palindrome_3', False, '[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]'),
 ('is_palindrome_1', True, '[1, 2, 3, 2, 1]'),
 ('is_palindrome_2', True, '[1, 2, 3, 2, 1]'),
 ('is_palindrome_3', True, '[1, 2, 3, 2, 1]')]

In [34]:
# fancy formatting
import pandas as pd
results_df = pd.DataFrame(
    test_results, 
    columns=['function', 'result', 'test_case'] 
)

display(

results_df.style.background_gradient(
    subset=['result'], 
    cmap='RdBu'
),


results_df.pivot_table(
    index='function', columns='test_case', 
    values='result', aggfunc='min').style.map(
        lambda x: f"background-color:{'green' if x else 'red'}"
    )
)

# 5. Define a tupled array that represents a deck of cards
## 5a. Write a function of sort by suit than number 
## 5b  Write a function to shuffle the deck of cards
## 5c  Write a function to find the position of a given card in the deck

In [ ]:
# Implementation of Cards
card_suites = '♠♣♦♥'
card_nums = ['A'] + [ f"{n}" for n in range(2,11)]+ ['J', 'Q', 'K'] 

def make_deck() :
    return [ 
        (suite, num)
        for suite in card_suites
        for num in card_nums
    ]

def sort_deck(deck) :
    deck.sort( key = lambda card: ( 
        card_suites.index(card[0]) , 
        card_nums.index(card[1]) 
    ) )
    return deck 

def shuffle_deck(deck):
    from random import shuffle
    shuffle(deck)

def locate( card, deck):
    return deck.index(card)

_trace_info = {}
def tracer(x) : _trace_info[f"{x:10s}"] = ( len(deck), str(deck[:2]) + "..." + str(deck[-2:]))

deck = make_deck() ; tracer('make') 

shuffle_deck(deck) ; tracer('shuffle1') 

shuffle_deck(deck) ; tracer('shuffle2')

sort_deck(deck)    ; tracer('sort')
display(_trace_info)

from random import randrange
card = deck[randrange(0,52)]
posn = locate(card, deck)

print (f"{card=} is found at {posn=} . {card == deck[posn]}")

{'make      ': (52, "[('♠', 'A'), ('♠', '2')]...[('♥', 'Q'), ('♥', 'K')]"),
 'shuffle1  ': (52, "[('♣', '7'), ('♥', '10')]...[('♣', '4'), ('♦', '7')]"),
 'shuffle2  ': (52, "[('♠', '7'), ('♣', '5')]...[('♦', 'Q'), ('♣', '4')]"),
 'sort      ': (52, "[('♠', 'A'), ('♠', '2')]...[('♥', 'Q'), ('♥', 'K')]")}

card=('♣', '7') is found at posn=19 . True

### Anagram Problem

In [51]:
# Anagram Problem
def is_anagram_01 (s, t):
    return { c:s.count(c) for c in s} == { c:t.count(c) for c in t }

def is_anagram_02 (s, t):
    if ( len(s) != len(t) ): return False
    return sorted(s) == sorted(t)

def is_anagram_03(s,t):
    return list(s).sort() == list(t).sort()

def is_anagram_sandesh(s,t):
    # TODO
    return True

test_cases = [
    # Source Target Expected
    ['listen', 'silent', True],
    ['apple', 'pepal', True],
    ['zebra', 'donkey', False],
    ["", "", True],
    # ["APPLE", "apple", ]
]

functions = [is_anagram_01]

test_results = [
    (fn.__name__, "pass" if fn(tc[0], tc[1]) == tc[2] else "**fail", str(tc))
    for fn in functions
    for tc in test_cases
]

# test_results= [
#     (fn.__name__ , "pass" if fn(tc[0], tc[1]) == tc[2] else "**fail" , tc )
#     for fn in functions for tc in test_cases
# ]
test_results

[('is_anagram_01', 'pass', "['listen', 'silent', True]"),
 ('is_anagram_01', 'pass', "['apple', 'pepal', True]"),
 ('is_anagram_01', 'pass', "['zebra', 'donkey', False]"),
 ('is_anagram_01', 'pass', "['', '', True]")]

## Day 4
### Day 3 Recap
- Anagram problem
- Test cases annd test harness
- import external libraries
- Deck of cards
- help to dig deeper
- know your arrays and hashes very well
- know few libraries like Collection , pandas, numpy 

### Day 3 Assignments
- Anagram ( we did in class)
- Longest substring - brute force and sliding window
- Queue - using array and two stacks

### Today's topics
- Discuss Queue - Implement and test
- Discuss Classes (OOP)
- Implement Que as a classs and debug
- Discuss Longest Substring - Brute force
- Discuss fixed sliding window

### Day 4 Assignments
- Implement Card and Deck as classes
- Implement find max sum of continous k number is an array of n numbers
- ~ let n = 10 , k =1..3
- ~ generalize
- Implement Longest Substring as dynamic sliding window

In [ ]:
# Day 3
# Simple Q ( create, enqueue, dequeue) using arrays without class
 
# Function to add an element to the queue
def enqueue(queue, element):
    queue.append(element)

# Function to remove an element from the queue
def dequeue(queue):
    return queue.pop(0) # if not is_empty() else None

# Function to check if the queue is empty
def is_empty(queue):
    return len(queue) == 0

enque_test_cases= [
    # equeue item, expected queue
    (1, [1]), 
    (2, [1, 2]), 
    (3, [1, 2, 3]), 
    (4, [1, 2, 3, 4]), 
    (5, [1, 2, 3, 4, 5])
]

a_queue = []
enque_test_results = [
    (enqueue(a_queue, tc[0]), a_queue.copy() == tc[1]) 
    for tc in enque_test_cases
]
enque_test_results

[(None, True), (None, True), (None, True), (None, True), (None, True)]

In [11]:
tr = [ tr[1] for tr in enque_test_results ] 
all(tr), tr.count(False), tr.count(True)

(True, 0, 5)

In [14]:
# implement que as a class using arrays minimally. assume infoinite capacity. no error checks.
class SimpleQueue:
    def __init__(self):
        self.queue = []

    def enqueue(self, element):
        self.queue.append(element)

    def dequeue(self):
        return self.queue.pop(0) if not self.is_empty() else None

    def is_empty(self):
        return len(self.queue) == 0
    
    def __repr__(self):
        return f"SimpleQueue({self.queue})"
    
myq = SimpleQueue()
myq.enqueue(1)
myq.enqueue(11)
myq.enqueue(111)
myq

SimpleQueue([1, 11, 111])

In [ ]:
# let us debug line by line using vscode debugger
aVal = 10
anotherVal = 20
myq = SimpleQueue()
xVal = 30